/* Global and resets */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;     /* 1rem = 10px */
}

body {
  margin: 0;
  font: 400 1.6rem/1 "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

svg {
  fill: currentColor;
  vertical-align: top;
}

button {
  border: 0;
  font: inherit;
  background: #fff;
  color: #0561a4;
}

button:hover, button:focus {
  background: #9cccef !important;
  color: #fff !important;
  outline: none;
}

button:active {
  background: #34a2f3 !important;
  color: #fff !important;
}

button.disabled {
  background: #9cccef !important;
  color: #6cb3e7 !important;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

/* Main Styles */

