@media (max-width: 1199px) {

  .content {
    width: 940px;
  }

  button {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 3.6rem;
    line-height: 4.6rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  header {
    background: url(../images/moto.png) left calc(50% - 482px/2 - 10px) bottom 50px no-repeat, radial-gradient(circle at left calc(50% - 482px/2 - 10px) center, #666, #2a2a2a 60%);
    background-size: 482px, auto;
  }

  header .content {
    padding: 30px 0 140px;
  }

  header .top-bar .logo {
    font-size: 2rem;
  }

  header nav a {
    font-size: 1.6rem;
  }

  header .top-bar .phone {
    font-size: 2rem;
  }

  header .top-bar .address {
    font-size: 1.6rem;
    line-height: 3.1rem;
  }

  header .intro .subheading {
    margin-bottom: 30px;
  }



  .features .content {
    padding: 65px 0;
  }

  .features .subheading {
    margin: 10px auto 0;
  }

  .features .feature {
    width: 50%;
    padding: 55px 25px 0;
  }

  .features .feature-icon {
    height: 50px;
  }

  .features .feature-text h3 {
    margin-top: 15px;
  }



  .gallery .content {
    padding: 65px 0;
  }

  .gallery h2 {
    margin-bottom: 45px;
  }

  .gallery .container {
    margin: -10px;
  }

  .gallery .container > div {
    width: calc(33.33333333% - 20px);
    height: calc(33.33333333% - 20px);
  }

  .gallery .container > div.x2 {
    width: calc(66.66666667% - 20px);
    height: calc(66.66666667% - 20px);
  }

  .gallery .container div.h2 {
    height: calc(66.66666667% - 20px);
    flex-flow: column;
  }

  .gallery .container div.h2 > div {
    height: calc(50% - 10px);
  }



  .pao .content {
    padding: 65px 0;
  }

  .pao .prices {
    padding: 0 45px;
  }

  .pao .prices h3 {
    margin-bottom: 45px;
  }

  .pao .order {
    width: 50%;
    padding: 0 45px;
  }

  .pao .order h3 {
    margin-bottom: 22px;
  }

  .pao .order input {
    margin: 5px 0 15px;
  }

  .pao .order button {
    margin: 25px 0 15px;
  }

  .pao .order .fc > * {
    width: calc(50% - 10px);
  }

  #map {
    height: 200px;
  }

  footer .content {
    padding-bottom: 10px;
  }

}

@media (max-width: 959px) {

  .content {
    width: 754px;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.8rem;
  }

  header {
    background: url(../images/moto.png) left calc(50% - 386px/2 - 7px) bottom 25px no-repeat, radial-gradient(circle at left calc(50% - 386px/2 - 7px) center, #666, #2a2a2a 60%);
    background-size: 386px, auto;
  }

  header .content {
    padding: 30px 0 80px;
  }

  header .top-bar .address {
    line-height: 2.4rem;
  }

  header .intro {
    margin-top: 40px;
    width: calc(100% * 5/12 + 7px);
  }

  header .intro .subheading {
    margin-top: 0;
  }



  .features .content {
    padding-top: 60px 0;
  }

  .features .feature {
    padding: 55px 15px 0;
  }

  .features .feature-text h3 {
    font-size: 2rem;
  }



  .gallery .content {
    padding: 60px 0;
  }

  .gallery h2 {
    margin-bottom: 35px;
  }

  .gallery .container {
    margin: -7px;
  }

  .gallery .container > div {
    width: calc(33.33333333% - 14px);
    height: calc(33.33333333% - 14px);
  }

  .gallery .container > div.x2 {
    width: calc(66.66666667% - 14px);
    height: calc(66.66666667% - 14px);
  }

  .gallery .container div.h2 {
    height: calc(66.66666667% - 14px);
    flex-flow: column;
  }

  .gallery .container div.h2 > div {
    height: calc(50% - 7px);
  }



  .pao .content {
    padding: 60px 0;
  }

  .pao .order .fc > * {
    width: calc(50% - 7px);
  }
  
}