@media (max-width: 1199px) {

  .content {
  --content-width: 940;
    width: 940px;
  }

  button {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 3.6rem;
    line-height: 4.6rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  header {
    background: url(../images/moto.png) left calc(50% - 482px/2 - 10px) bottom 50px no-repeat, radial-gradient(circle at left calc(50% - 482px/2 - 10px) center, #666, #2a2a2a 60%);
    background-size: 482px, auto;
  }

  header .content {
    padding: 30px 0 140px;
  }

  header .top-bar .logo {
    font-size: 2rem;
  }

  header nav a {
    font-size: 1.6rem;
  }

  header .top-bar .phone {
    font-size: 2rem;
  }

  header .top-bar .address {
    font-size: 1.6rem;
    line-height: 3.1rem;
  }

  header .intro .subheading {
    margin-bottom: 30px;
  }



  .features .content {
    padding: 65px 0;
  }

  .features .subheading {
    margin: 10px auto 0;
  }

  .features .feature {
    width: 50%;
    padding: 55px 25px 0;
  }

  .features .feature-icon {
    height: 50px;
  }

  .features .feature-text h3 {
    margin-top: 15px;
  }



  .gallery .content {
    padding: 65px 0;
  }

  .gallery h2 {
    margin-bottom: 45px;
  }

  .gallery .grid {
    grid-gap: 20px;
    grid-auto-rows: 210px;
  }



  .pao .content {
    padding: 65px 0;
  }

  .pao .prices {
    padding: 0 45px;
  }

  .pao .prices h3 {
    margin-bottom: 45px;
  }

  .pao .order {
    width: 50%;
    padding: 0 45px;
  }

  .pao .order h3 {
    margin-bottom: 22px;
  }

  .pao .order input {
    margin: 5px 0 15px;
  }

  .pao .order button {
    margin: 25px 0 15px;
  }

  .pao .order .fc > * {
    width: calc(50% - 10px);
  }

  #map {
    height: 200px;
  }

  footer .content {
    padding-bottom: 10px;
  }

}

@media (max-width: 959px) {

  .content {
  --content-width: 720px;
    width: 720px;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.8rem;
  }

  header {
    background: url(../images/moto.png) left calc(50% - 386px/2 - 7px) bottom 25px no-repeat, radial-gradient(circle at left calc(50% - 386px/2 - 7px) center, #666, #2a2a2a 60%);
    background-size: 386px, auto;
  }

  header .content {
    padding: 30px 0 80px;
  }

  header .top-bar .address {
    line-height: 2.4rem;
  }

  header .intro {
    margin-top: 40px;
    width: calc(100% * 5/12 + 7px);
  }

  header .intro .subheading {
    margin-top: 0;
  }



  .features .content {
    padding: 60px 0;
  }

  .features .feature {
    padding: 55px 7px 0;
  }

  .features .feature-text h3 {
    font-size: 2rem;
  }



  .gallery .content {
    padding: 60px 0;
  }

  .gallery h2 {
    margin-bottom: 35px;
  }

  .gallery .grid {
    grid-gap: 14px;
    grid-auto-rows: 170px;
  }



  .pao .content {
    padding: 60px 0;
  }

  .pao .order .fc > * {
    width: calc(50% - 7px);
  }
  
}

@media (max-width: 765px) {

  .no-xs {
    display: none !important;
  }

  .xs {
    display: initial;
  }

  .content {
  --content-width: 450px;
    width: 450px;
  }
  
  h1 {
    text-transform: none;
    line-height: 3.6rem;
  }

  header {
    background: radial-gradient(circle at left calc(50% - 175px) center, #666, #2a2a2a 60%);
  }

  header .content {
    padding: 15px 0 55px;
  }

  header .top-bar {
    margin-bottom: 0;
  }

  header .top-bar .burger {
    display: inline-block;
  }

  header nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: -200px;
    height: 100%;
    flex-flow: column;
    justify-content: flex-start;
    margin: 0;
    padding-top: 15px;
    background: black;
    width: 200px;
    transition: left linear .3s;
    background: #2a2a2a;
  }

  header nav.visible {
    left: 0;
  }

  header nav > div {
    margin: 15px;
  }

  header nav .social {
    width: 50px;
  }

  header nav .social a {
    transition: color .3s linear;
  }

  header nav .social a:hover {
    color: #507299;
  }

  header .intro {
    align-self: flex-start;
    width: 80%;
    margin-top: 50px;
  }

  header .intro .subheading {
    margin-top: 8px;
    color: white;
  }



  .features .content {
    padding: 40px 0;
  }

  .features .subheading {
    width: 100%;
    font: 400 1.8rem/2.4rem "Roboto", sans-serif
  }

  .features .features-block {
    flex-flow: column;
  }

  .features .feature {
    width: 100%;
    padding: 40px 15px 5px;
  }



  .gallery .content {
    padding: 40px 0 45px;
  }

  .gallery h2 {
    margin-bottom: 15px;
  }



  .pao {
    background: radial-gradient(circle at left calc(50% - 175px) top 300px, #666, #2a2a2a 60%);
  }

  .pao .content {
    padding: 40px 0;
    flex-flow: column;
  }

  .pao .prices {
    width: 100%;
    margin-bottom: 45px;
  }

  .pao .prices h3 {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 25px;
  }

  .pao .order {
    width: 100%;
  }



  footer .content {
    padding: 30px 0 20px;
  }

  footer .content > * {
    width: calc(100% * 1/2 - 15px);
    text-align: left;
    font-size: 1.6rem;
  }

  footer .logo {
    order: 1;
    font-size: 2.2rem;
    margin-bottom: 10px;
  }

  footer .address1 {
    order: 2;
  }

  footer .mail {
    order: 3;
  }

  footer .address2 {
    order: 4;
  }

  footer .social {
    order: 5;
  }

  footer .social svg {
    width: 40px;
  }

  footer .phone {
    order: 6;
  }

}