/* Global and resets */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;     /* 1rem = 10px */
  min-width: 480px;
}

body {
  color: #fff;
  margin: 0;
  font: 400 1.6rem/1 "Roboto", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

svg {
  fill: currentColor;
  fill-rule: evenodd;
  vertical-align: top;
  /*width: 100%;*/
  height: 100%;
}

button {
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

input:focus, button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}



/* Main Styles */

h1 {
  font: 500 4.4rem/6rem "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: .025em;
}

h2 {
  font: 500 3.6rem/1 "Roboto", sans-serif;
}

h3 {
  font: 500 2.4rem/1 "Roboto", sans-serif;
}

.fc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
--content-width: 1140px;
  width: 1140px;
  margin: 0 auto;
}

.xs {
  display: none;
}

*::selection {
  background: #ff6600;
}

button {
  background: linear-gradient(#fba243, #ff8400 50%, #c9470d);
  background-size: auto 200%;
  background-position: 0 100%;
  border-radius: 3px;
  font-size: 1.6rem;
  transition: background .3s linear;
}

button:hover {
  background-position: 0 0;
}



/* Header */

header {
  background: url("../images/moto.png") left calc(50% - 573px/2 - 15px) bottom 25px no-repeat, radial-gradient(circle at left calc(50% - 573px/2 - 15px) center, #666, #2a2a2a 60%);
  background-size: 573px, auto;
}

header .content {
  padding: 45px 0 170px;
  flex-flow: column;
}

header .top-bar .burger {
  display: none;
  height: 20px;
  width: 50px;
}

header .top-bar .logo {
  font: 500 2.4rem/1 "Roboto", sans-serif;
}

header .top-bar .phone {
  font: 2.4rem/1 "Roboto", sans-serif;
}

header .top-bar {
  align-items: baseline;
  margin-bottom: 25px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px 0;
}

header nav > div {
  margin: 0 15px;
}

header nav a {
  font: 1.8rem/1 "Roboto", sans-serif;
  transition: color linear .3s;
}

header nav a:hover {
  color: #ff6600;
}

header .top-bar .address {
  text-align: right;
  font: 1.8rem/3rem "Roboto", sans-serif;
}

header .intro {
  margin-top: 75px;
  font: 400 1.6rem/1 "Roboto", sans-serif;
  align-self: flex-end;
  width: 50%;
}

header .intro .subheading {
  margin: 10px 0 45px;
  color: #d2d2d2;
}

header .intro button {
  height: 40px;
  width: 135px;
  margin-right: 25px;
}

header .intro a {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #cbcbcb;
  color: #cbcbcb;
  transition: color .3s linear, border .3s linear;
}

header .intro a:hover {
  color: #ff6600;
  border-color: #ff6600;
}



/* Section 1 - Features */

.features .content {
  text-align: center;
  color: #202020;
  padding: 80px 0;
}

.features .subheading {
  font: 400 1.8rem/2.4rem "Roboto", sans-serif;
  margin: 15px auto;
  width: calc(100% * 5/6);
}

.features .feature {
  width: calc(100% * 1/3);
  padding: 40px 15px 0;
}

.features .feature-icon {
  height: 60px;
  color: #f62b2f;
}

.features .feature-text {
  font: 400 1.8rem/2.4rem "Roboto", sans-serif;
}

.features .feature-text h3 {
  font: 500 2.4rem/1 "Roboto", sans-serif;
  margin: 25px 0 10px;
  white-space: nowrap;
}



/* Gallery */

.gallery {
  background: #f5f5f5;
  overflow-x: hidden;
}

.gallery .content {
  text-align: center;
  color: #202020;
  padding: 80px 0;
}

.gallery h2 {
  margin-bottom: 30px;
}

.gallery .grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 256px;
}

.gallery .grid div {
  background: #ccc;
}

.gallery .grid .x2 {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.gallery .owl-stage-outer {
  overflow: visible;
}

.gallery .owl-carousel .item {
  height: 230px;
  width: calc(var(--content-width) * 8/12);
  background: #ccc;
}



/* PaO */

.pao {
  background: linear-gradient(0deg, rgba(72, 72, 72, .85), rgba(72, 72, 72, .85)), url("../images/bg.jpg") center -170px;
}

.pao .content {
  padding: 90px 0;
}

.pao .prices {
  width: 50%;
  padding: 0 15px;
}

.pao .prices h3 {
  margin-bottom: 50px;
}

.pao .prices ul {
  border-top: 1px solid rgba(255, 255, 255, .3);
}

.pao .prices li {
  box-sizing: content-box;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  align-items: center;
  font: 400 1.8rem/1 "PT Sans", sans-serif;
}

.pao .prices li .explain {
  font-size: 1.4rem;
  margin-top: 5px;
}

.pao .prices li .price {
  height: 34px;
  border: 2px solid #ff6600;
  border-radius: 3px;
  line-height: 2rem;
  padding: 5px 15px;
}

.pao .order {
  width: calc(100% * 1/3);
  padding: 0 15px;
}

.pao .order h3 {
  margin-bottom: 29px;
}

.pao .order .fc > * {
  width: calc(50% - 15px);
}

.pao .order label {
  font: 400 1.6rem/1 "PT Sans", sans-serif;
  display: block;
}

.pao .order input {
  width: 100%;
  border: none;
  border-radius: 3px;
  height: 50px;
  margin: 5px 0 15px;
  padding: 15px;
}

.pao .order input[name^="date"] {
  background: #fff url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 49 49' xml:space='preserve'%3E%3Cpath fill='%23202020' d='M35.3,23.8c0.6,0.6,1.4,0.9,2.3,0.9c0.9,0,1.7-0.4,2.3-0.9c0.6-0.6,0.9-1.4,0.9-2.3c0-0.9-0.4-1.7-0.9-2.3l0,0c-0.6-0.6-1.4-1-2.3-1c-0.9,0-1.7,0.4-2.3,1l0,0c-0.6,0.6-0.9,1.4-0.9,2.3C34.3,22.4,34.7,23.2,35.3,23.8L35.3,23.8z M36.9,20.9L36.9,20.9c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3h0c0.2,0.1,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7c-0.1,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.4-0.3-0.7C36.6,21.3,36.7,21,36.9,20.9L36.9,20.9z M26.6,23.8L26.6,23.8c0.6,0.6,1.4,0.9,2.3,0.9c0.9,0,1.7-0.4,2.3-0.9c0.6-0.6,0.9-1.4,0.9-2.3c0-0.9-0.4-1.7-0.9-2.3l0,0c-0.6-0.6-1.4-1-2.3-1c-0.9,0-1.7,0.4-2.3,1l0,0c-0.6,0.6-0.9,1.4-0.9,2.3C25.6,22.4,26,23.2,26.6,23.8L26.6,23.8L26.6,23.8z M28.2,20.9L28.2,20.9L28.2,20.9c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3l0,0c0.2,0.1,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.4-0.3-0.7C27.9,21.3,28,21,28.2,20.9L28.2,20.9z M26.6,32.4L26.6,32.4c0.6,0.6,1.4,0.9,2.3,0.9c0.9,0,1.7-0.3,2.3-0.9v0c0.6-0.6,0.9-1.4,0.9-2.3c0-0.9-0.4-1.7-0.9-2.2l0,0c-0.6-0.6-1.4-1-2.3-1c-0.9,0-1.7,0.4-2.3,1l0,0c-0.6,0.6-0.9,1.4-0.9,2.2C25.6,31,26,31.8,26.6,32.4L26.6,32.4L26.6,32.4z M28.2,29.4L28.2,29.4L28.2,29.4c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3l0,0c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7l0,0c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3l0,0c-0.2-0.2-0.3-0.4-0.3-0.7C27.9,29.8,28,29.6,28.2,29.4L28.2,29.4z M26.6,40.9L26.6,40.9c0.6,0.6,1.4,0.9,2.3,0.9c0.9,0,1.7-0.4,2.3-0.9l0,0c0.6-0.6,0.9-1.4,0.9-2.3c0-0.9-0.4-1.7-0.9-2.2v0c-0.6-0.6-1.4-0.9-2.3-0.9c-0.9,0-1.7,0.3-2.3,0.9v0c-0.6,0.6-0.9,1.4-0.9,2.2C25.6,39.5,26,40.3,26.6,40.9L26.6,40.9L26.6,40.9z M28.2,37.9L28.2,37.9L28.2,37.9c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3l0,0c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7v0c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3v0c-0.2-0.1-0.3-0.4-0.3-0.7C27.9,38.4,28,38.1,28.2,37.9L28.2,37.9z M9.2,32.4L9.2,32.4c0.6,0.6,1.4,0.9,2.3,0.9c0.9,0,1.7-0.3,2.3-0.9v0c0.6-0.6,0.9-1.4,0.9-2.3c0-0.9-0.3-1.7-0.9-2.2c-0.6-0.6-1.4-1-2.3-1c-0.9,0-1.7,0.4-2.3,1h0c-0.6,0.6-0.9,1.4-0.9,2.2C8.3,31,8.6,31.8,9.2,32.4L9.2,32.4L9.2,32.4z M10.8,29.4L10.8,29.4L10.8,29.4c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3h0c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7h0C12,30.9,11.7,31,11.5,31c-0.3,0-0.5-0.1-0.7-0.3l0,0c-0.2-0.2-0.3-0.4-0.3-0.7C10.5,29.8,10.6,29.6,10.8,29.4L10.8,29.4z M9.2,40.9L9.2,40.9c0.6,0.6,1.4,0.9,2.3,0.9c0.9,0,1.7-0.4,2.3-0.9c0.6-0.6,0.9-1.4,0.9-2.3c0-0.9-0.3-1.7-0.9-2.2v0c-0.6-0.6-1.4-0.9-2.3-0.9c-0.9,0-1.7,0.3-2.3,0.9l0,0c-0.6,0.6-0.9,1.4-0.9,2.2C8.3,39.5,8.6,40.3,9.2,40.9L9.2,40.9L9.2,40.9z M10.8,37.9L10.8,37.9L10.8,37.9c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3h0c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7l0,0c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3v0c-0.2-0.1-0.3-0.4-0.3-0.7C10.5,38.4,10.6,38.1,10.8,37.9L10.8,37.9z M17.9,23.8L17.9,23.8c0.6,0.6,1.4,0.9,2.3,0.9c0.9,0,1.7-0.4,2.3-0.9c0.6-0.6,0.9-1.4,0.9-2.3c0-0.9-0.4-1.7-0.9-2.3l0,0c-0.6-0.6-1.4-1-2.3-1c-0.9,0-1.7,0.4-2.3,1l0,0c-0.6,0.6-0.9,1.4-0.9,2.3C16.9,22.4,17.3,23.2,17.9,23.8L17.9,23.8L17.9,23.8z M19.5,20.9L19.5,20.9L19.5,20.9c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3l0,0c0.2,0.1,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.3-0.4-0.3-0.7C19.2,21.3,19.3,21,19.5,20.9L19.5,20.9z M47.1,0L47.1,0H1.9C0.9,0,0,0.8,0,1.9v45.2c0,1,0.9,1.9,1.9,1.9h45.2c1,0,1.9-0.9,1.9-1.9V1.9C49,0.8,48.1,0,47.1,0L47.1,0z M45.2,45.2L45.2,45.2H3.8V14.8h41.5V45.2L45.2,45.2z M45.2,12.5L45.2,12.5H3.8V3.8h3.7v2.8c0,1,0.8,1.9,1.9,1.9c1,0,1.9-0.8,1.9-1.9V3.8h6.3v2.8c0,1,0.8,1.9,1.9,1.9c1,0,1.9-0.8,1.9-1.9V3.8h6.3v2.8c0,1,0.8,1.9,1.9,1.9c1.1,0,1.9-0.8,1.9-1.9V3.8h6.3v2.8c0,1,0.8,1.9,1.9,1.9c1,0,1.9-0.8,1.9-1.9V3.8h3.7V12.5L45.2,12.5z M17.9,40.9L17.9,40.9c0.6,0.6,1.4,0.9,2.3,0.9c0.9,0,1.7-0.4,2.3-0.9c0.6-0.6,0.9-1.4,0.9-2.3c0-0.9-0.4-1.7-0.9-2.2v0c-0.6-0.6-1.4-0.9-2.3-0.9c-0.9,0-1.7,0.3-2.3,0.9v0c-0.6,0.6-0.9,1.4-0.9,2.2C16.9,39.5,17.3,40.3,17.9,40.9L17.9,40.9z M19.5,37.9L19.5,37.9L19.5,37.9c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3l0,0c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7v0c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3l0,0c-0.2-0.1-0.3-0.4-0.3-0.7C19.2,38.4,19.3,38.1,19.5,37.9L19.5,37.9z M17.9,32.4L17.9,32.4c0.6,0.6,1.4,0.9,2.3,0.9c0.9,0,1.7-0.3,2.3-0.9v0c0.6-0.6,0.9-1.4,0.9-2.3c0-0.9-0.4-1.7-0.9-2.2c-0.6-0.6-1.4-1-2.3-1c-0.9,0-1.7,0.4-2.3,1c-0.6,0.6-0.9,1.4-0.9,2.2C16.9,31,17.3,31.8,17.9,32.4L17.9,32.4L17.9,32.4z M19.5,29.4L19.5,29.4L19.5,29.4c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3l0,0c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7l0,0c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3h0c-0.2-0.2-0.3-0.4-0.3-0.7C19.2,29.8,19.3,29.6,19.5,29.4L19.5,29.4z M35.3,32.4L35.3,32.4c0.6,0.6,1.4,0.9,2.3,0.9c0.9,0,1.7-0.3,2.3-0.9v0c0.6-0.6,0.9-1.4,0.9-2.3c0-0.9-0.4-1.7-0.9-2.2c-0.6-0.6-1.4-1-2.3-1c-0.9,0-1.7,0.4-2.3,1l0,0c-0.6,0.6-0.9,1.4-0.9,2.2C34.3,31,34.7,31.8,35.3,32.4L35.3,32.4L35.3,32.4z M36.9,29.4L36.9,29.4L36.9,29.4c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3h0c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3-0.1,0.5-0.3,0.7h0c-0.1,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3l0,0c-0.2-0.2-0.3-0.4-0.3-0.7C36.6,29.8,36.7,29.6,36.9,29.4L36.9,29.4z'/%3E%3C/svg%3E%0A") center right 20px no-repeat;
  background-size: 17px;
}

.pao .order button {
  width: 100%;
  margin: 25px 0 20px;
  height: 50px;
}

.pao .order .agreement {
  display: inline-block;
  font: 400 1.4rem/1 "PT Sans", sans-serif;
  color: #9f9f9f;
  border-bottom: 1px solid #6c6c6d;
  cursor: pointer;
}



/* Map */

#map {
  height: 300px;
}



/* Footer */

footer {
  background: #2a2a2a;
}

footer .content {
  padding: 20px 0 40px;
  flex-flow: row wrap;
  align-items: baseline;
}

footer .content > * {
  width: calc(100% * 1/3);
  font: 1.8rem/1 "PT Sans", sans-serif;
}

footer .social svg {
  width: 50px;
}

footer .social a {
  transition: color .3s linear;
}

footer .social a:hover {
  color: #507299;
}

footer .logo {
  font-size: 2.4rem;
}

footer .logo, footer .social {
  text-align: left;
}

footer .address1, footer .address2 {
  text-align: center;
}

footer .mail, footer .phone {
  text-align: right;
}

footer .address2, footer .phone {
  align-self: center;
}



/* Assets styles */

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-, .datepicker--cell.-selected-.-focus- {
  background: #ff6600;
}

.datepicker--cell.-current- {
  color: #ff6600;
}